@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

nav{    
  width: 150px;
  float: left;
  display: inline;
  margin: 0;
  padding:0;
  margin-right: 10px;
  opacity:0.6;
}

body
{
background-image: url(https://cloud.githubusercontent.com/assets/5033773/3740108/d1d5cfd0-1751-11e4-8e69-83d0e28ed58c.JPG');
}

Footer {
display:block;
position: absolute;
bottom: 0;
width: 100%;
height: 100px;
background-color: Black;
opacity:0.9;
}

.thumbnails {
  text-align: center;
}

.img display {
  inline-block;
}

p {
  color:White;
  font-size: 30px;
  text-align:center
}

li {
  color:Black;
}

.well {
  padding: 20px;
  
}
